<%
    rarity = getRarityName(card.base_rarity);
%>
<div class="card card-tcg card-<%= rarity %>">
    <label>
        <div class="card-bg-image" style="background-image: url(<%= card.image %>);"></div>
        <div class="card-body card-body-tcg">
            <img src="<%= card.image %>" alt="<%= card.name %>" title="<%= card.name %>" class="card-image" />
            <div class="id-holder rarity-<%= rarity %>"><%= card.id %></div>
            <div class="invisible-space-holder">&nbsp;</div>
            <div class="rarity-holder rarity-<%= rarity %>"><%= rarity %></div>
        </div>
        <div class="card-footer text-center">
            <div class="keep-box">
                <input type="checkbox" onchange="update()" /><br />Keep?
            </div>
            <div class="card-info">
                <%= card.name %><br />
                <%= card.series %>
                <i class="material-icons copyTextLine" title="Click me to get a text copy for Discord/IRC" onclick="getTextLineFromCard(<%= card.id %>, '<%= escape(card.name) %>', '<%= escape(card.series) %>', <%= card.base_rarity %>, '<%= escape(card.image) %>'); return false;">file_copy</i>
            </div>
        </div>
    </label>
</div>
