<%
    if(card.firstGod) {
        displayRarity = getRarityName(card.rarity);
        rarity = "firstgod";
    }
    else {
        displayRarity = rarity = getRarityName(card.rarity);
    }
%>
<div class="card card-tcg card-<%= rarity %>">
    <div class="card-bg-image" style="background-image: url(<%= card.customImage || card.image %>);"></div>
    <div class="card-body card-body-tcg">
        <img src="<%= card.customImage || card.image %>" alt="<%= card.name %>" title="<%= card.name %>" class="card-image" />
        <div class="id-holder rarity-<%= rarity %>"><%= card.id %></div>
        <div class="invisible-space-holder">&nbsp;</div>
        <div class="rarity-holder rarity-<%= rarity %>"><% if(card.firstGod) { %><span style="text-transform:none;font-weight:700">α&thinsp;</span><% } %><%= displayRarity %></div>
        <% if(card.rarity > card.base_rarity) { %>
            <div class="promotion-holder rarity-<%= rarity %>">
                <%= "★".repeat(card.rarity - card.base_rarity) %>
            </div>
        <% } %>
    </div>
    <div class="card-footer text-center">
        <div class="card-info">
            <%= card.name %><br />
            <%= card.series %>
            <% if(card.cardid) { %>
                <div class="collapse cardExtraInfo" id="card<%= card.cardid %>ExtraInfo" data-cardid="<%= card.cardid %>">
                    Card ID: <%= card.cardid %><br />
                    <% if(card.rarity == 8) { %>
                        Non-tradeable
                    <% } else if(card.tradeableAt && card.tradeableAt > Date.now()) { %>
                        Non-tradeable until <%= moment(new Date(card.tradeableAt)).fromNow() %>
                    <% } else { %>
                        Tradeable
                    <% } %><br />
                    <% if(parseInt(card.created) <= parseInt(config.legacyCardCreationCutoff)) { %>
                        <span title="Created before July 2019 update">Legacy</span>
                    <% } else { %>
                        Created <%= moment(new Date(card.created)).utc().format('MMMM Do YYYY, h:mm:ss a') %>
                    <% } %>
                </div>
            <% } %>
        </div>
        <% if(card.cardid) { %>
            <div class="expand-box">
                <i class="material-icons collapse-toggler" data-toggle="collapse" data-target="#card<%= card.cardid %>ExtraInfo" id="card<%= card.cardid %>Toggler">expand_more</i>
            </div>
        <% } %>
        
    </div>
</div>
