<% include functions _%> 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %> - Waifu TCG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
    <script>
        let user = "<%= user %>";
    </script>
    <script type="text/javascript" src="/js/core.js"></script>
    <link rel="stylesheet" href="/waifus-bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <style type="text/css" rel="stylesheet">
      .hash-link {
        margin-left: -45px;
        padding-right: 25px;
        opacity: 0;
        transition: opacity .3s;
        -webkit-transition: opacity .3s;
        line-height: 1;
        text-decoration: none !important;
      }

      .hash-link:hover {
        opacity: 1 !important;
      }

      .dark-mode .hash-link-icon {
          fill: #999;
      }

      .hash-link .hash-link-icon {
            vertical-align: middle;
        }

      .anchor {
          position: relative;
          top: -60px;
          display: block;
      }
      </style>
</head>
<body>
<nav class="navbar navbar-expand sticky-top navbar-dark bg-dark" id="main-nav">
    <a id="navbartitle" class="navbar-brand" href="/help">Waifu TCG &ndash; <b><%= user %></b></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item <% if(currentPage === 'hand') { %>active<% } %>">
                <a class="nav-link user-required" href="/hand?user=<%= user %>">Hand</a>
            </li>
            <li class="nav-item <% if(currentPage === 'profile') { %>active<% } %>">
                <a class="nav-link user-required" href="/profile?user=<%= user %>">Profile</a>
            </li>
            <li class="nav-item <% if(currentPage === 'booster') { %>active<% } %>">
                <a class="nav-link user-required" href="/booster?user=<%= user %>">Booster</a>
            </li>
            <li class="nav-item <% if(currentPage === 'sets') { %>active<% } %>">
                <a class="nav-link" href="/sets?user=<%= user %>">Sets</a>
            </li>
            <% if(booleanConfig("marathonTrackerEnabled")) { %>
                <li class="nav-item <% if(currentPage === 'tracker') { %>active<% } %>">
                    <a class="nav-link" href="/tracker?user=<%= user %>">Marathon Tracker</a>
                </li>
            <% } %>
            <% if(booleanConfig("packTrackerEnabled")) { %>
                <li class="nav-item <% if(currentPage === 'packs') { %>active<% } %>">
                    <a class="nav-link" href="/packs?user=<%= user %>"><%= config.packTrackerNavTitle %></a>
                </li>
            <% } %>
            <li class="nav-item <% if(currentPage === 'rules') { %>active<% } %>">
                <a class="nav-link user-required" href="/rules?user=<%= user %>">Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Super Secret Admin-Panel</a>
            </li>
            
        </ul>
        <div class="darkmode-toggle-container">
            <span class="material-icons" id="darkmode-toggle">wb_sunny</span>
        </div>
        <form method="GET" class="form-inline">
            <input id="inputname" value="<%= user %>" class="form-control" type="search" name="user" placeholder="Search for User"
                    aria-label="Search">
            <button class="btn btn-outline-light mx-2" type="submit">Check User</button>
        </form>
    </div>
</nav>
<div class='container-fluid'>
